<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
    <script>
        function getClients() {
            const clientDataButton = document.getElementById('clientDataButton');
            fetch('api/clients/')
                .then(response => response.json())
                .then(client => clientDataButton.innerHTML = JSON.stringify(client));
        }
    </script>
</head>

<body>
<h4>Получить клиентов просто так</h4>
<button onclick="getClients()">Получить</button>
<pre id="clientDataButton"></pre>

<form action="http://localhost:8080/api/clients" method="post">
    <h4>Создать нового клиента</h4>
    <p>Имя клиента: <input type="text" name="name"></p>
    <p>Улица: <input type="text" size="20" name="address"></p>
    <p>Домашний телефон: <input type="text" name="phone1"></p>
    <p>Мобильный телефон: <input type="text" name="phone2"></p>
    <p><input type="submit" value="Сохранить"></p>
</form>
</body>
</html>
