<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>

<form method="post">
    <h4>Создать нового клиента</h4>
    <p>Имя клиента: <input type="text" name="name"></p>
    <p>Улица: <input type="text" size="20" name="address"></p>
    <p>Домашний телефон: <input type="text" name="phone1"></p>
    <p>Мобильный телефон: <input type="text" name="phone2"></p>
    <p><input type="submit" value="Сохранить"></p>
</form>

<h4>Список клиентов</h4>
<table border="1" style="width: 450px">
    <thead>
    <tr>
        <td style="width: 20px">Id</td>
        <td style="width: 100px">Имя</td>
        <td style="width: 100px">Адрес</td>
        <td style="width: 200px">Телефон</td>
    </tr>
    </thead>
    <tbody>
    <#list clients as client>
    <tr>
        <td>${client.id}</td>
        <td>${client.name}</td>
        <td>${client.address}</td>
        <td>${client.phones}</td>
    </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
